{% extends 'base_auth.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-3 m-auto ">
            <h1 class="display-4 fst-italic text-center "><a href="/" class="text-decoration-none">LeapsOnlineShop</a></h1>
        </div>
        <div class="col-lg-3 m-auto ">
            <form class="form-signin mx-4" method="POST">
                {% csrf_token %}
                
                <div class="text-center">
                    <h1 class="h5 my-4 ">
                        {% if 'login' in request.path %}
                        ログイン
                        {% elif 'signup' in request.path %}
                        新規登録
                        {% endif %}
                    </h1>
                </div>
 
                <div class="form-label-group my-3">
                    <input name="{% if 'login' in request.path%}username{% elif 'signup' in request.path %}email{% endif %}" type="email" id="id_email" class="form-control" placeholder="Email address" required autofocus>
                </div>
 
                <div class="form-label-group my-3">
                    <input name="password" type="password" id="id_password" class="form-control" placeholder="Password" required>
                </div>
                <div class="form-label-group my-3 text-center">
                    <button class="btn btn-primary btn-block my-3" type="submit">サインイン</button>
                </div>
            </form>
 
            {% if 'login' in request.path %}
            <div class="text-center">
                <a href="/accounts/signup/" class="link-secondary">新規登録はこちら</a>
            </div>
            {% elif 'signup' in request.path %}
            <div class="text-center">
                <a href="/accounts/login/" class="link-secondary">ログインはこちら</a>
            </div>
            {% endif %}

        </div>
    </div>
</div>

 
{% endblock %}