{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 d-flex">
        {% for pd in product %}
        <div class="col">
          <div class="card shadow-sm ">
            <div class="position-relative">
              <img class="bd-placeholder-img card-img-top" width="100%" height="255" src="{{ pd.image.url }}" alt="">
              <div class="card-body">
                <h5 class="font-weight-bold">{{ pd.product_name }}</h5>
                <p class="card-text text-center">{{ pd.detail }}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="{% url 'cart:create-cartitem' %}">カートに入れる</a>
                  </div>
                  <medium class="text-end">{{ pd.price }}円</medium>
                  <a href="{% url 'front:detail' pd.pk %}">詳細を見る</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      
    </div>
  </div>

{% endblock %}
