<nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Third navbar example">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">LEAPS ONLINE SHOP</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarsExample03">
      <ul class="navbar-nav me-auto mb-2 mb-sm-0">
        <li class="nav-item active ">
          <a class="nav-link" aria-current="page" href="/">ホーム</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">リンク</a>
        </li>
      {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown" aria-expanded="false">マイページ</a>
          <ul class="dropdown-menu" aria-labelledby="dropdown03">
            <a class="dropdown-item" href="{% url 'accounts:mypage' %}">マイプロフィール</a>
            <li><a class="dropdown-item" href="{% url 'cart:list' request.user.pk %}">マイカート</a></li>
            <li><a class="dropdown-item" href="#">その他</a></li>
          </ul>
        </li>
      </ul>
      
      <div>
        <p class="p-2 link-secondary d-inline">{{request.user|truncatechars_html:10}}さん、いらっしゃいませ</p>
        <a class="p-2 link-secondary" href="{% url 'accounts:logout' %}">ログアウト</a>
      </div>
      {% else%}
      <div>
          <a class="p-2 link-secondary" href="{% url 'accounts:login' %}">ログイン</a>
          <a class="btn btn-outline-info" href="{% url 'accounts:signup' %}">新規登録</a>
      </div>
      {% endif %}
      <form>
        <input class="form-control" type="text" placeholder="検索" aria-label="Search">
      </form>
    </div>
  </div>
</nav>
